    
<!-- ==== PRELOADER START==== -->
<div class="preloader-area">
  <div class="preloader">
    <div class="loader">
      <div class="loader-inner pacman">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
</div>
<!-- ====PRELOADER END==== -->

<!-- ====HEADER START==== -->
<header class="header_area navbar hidden-xs">
  <div class="container-fluid">
    <div class="row top_menu_area">
      <div class="col-xs-12 col-sm-3">
        <!-- START LOGO AREA -->
        <div class="logo_area">
          <a href="index.html">
            <img src="assets/logo.svg" alt="theme logo" class="main_logo svg">
          </a>
        </div>
        <!-- END LOGO AREA -->
      </div>
      <div class="col-xs-12 col-sm-9">
        <!-- START MENU AREA -->
        <nav class="navbar-collapse collapse in">
          <ul class="nav navbar-nav navbar-right menu">
            <li class="smoth-scroll active">
              <a data-hover="Home" href="#body">Home</a>
              <ul class="sub_menu">
                <li class="waves-effect waves">
                  <a href="<%= homes_path %>">Home Page 1</a>
                </li>
                <li class="waves-effect waves">
                  <a href="<%= index_second_path %>">Home Page 2</a>
                </li>
                <li class="waves-effect waves">
                  <a href="<%= index_third_path %>">Home Page 3</a>
                </li>
                <li class="waves-effect waves">
                  <a href="<%= index_four_path %>">Home Page 4</a>
                </li>
                <li class="waves-effect waves">
                  <a href="<%= index_five_path %>">Home Page 5</a>
                </li>
                <li class="waves-effect waves">
                  <a href="<%= index_six_path %>">Home Page 6</a>
                </li>
                <li class="waves-effect waves">
                  <a href="<%= index_seven_path %>">Home Page 7</a>
                </li>
                <li class="waves-effect waves">
                  <a href="<%= index_eight_path %>">Home Page 8</a>
                </li>
                <li class="waves-effect waves">
                  <a href="<%= index_nine_path %>">Home Page 9</a>
                </li>
              </ul>
            </li>
            <li class="smoth-scroll">
              <a data-hover="Services" href="#">Services</a>
            </li>
            <li class="smoth-scroll">
              <a data-hover="ABOUT" href="#">About</a>
            </li>
            <li class="smoth-scroll">
              <a data-hover="Portfolio" href="<%= portfolio_first_path %>">Portfolio</a>
              <ul class="sub_menu">
                <li class="waves-effect waves">
                  <a href="<%= portfolio_first_path %>">Protfolio 1</a>
                </li>
                <li class="waves-effect waves">
                  <a href="<%= portfolio_second_path %>">Protfolio 2</a>
                </li>
                <li class="waves-effect waves">
                <a href="<%= portfolio_three_path %>">Protfolio 3</a>
                </li>
                <li class="waves-effect waves">
                  <a href="<%= case_study_path %>">Case Study</a>
                </li>
              </ul>
            </li>
            <li class="smoth-scroll">
              <a data-hover="Blog" href="blog_grid.html">Blog</a>
              <ul class="sub_menu">
                <li class="waves-effect waves">
                  <a href="blog_grid.html">Blog Grid</a>
                </li>
                <li class="waves-effect waves">
                  <a href="blog-left_sidebar.html">Blog Left Sidebar</a>
                </li>
                <li class="waves-effect waves">
                  <a href="blog-right_sidebar.html">Blog Right Sidebar</a>
                </li>
                <li class="waves-effect waves">
                  <a href="single_blog-full.html">Single Blog Full</a>
                </li>
                <li class="waves-effect waves">
                 <a href="single_blog-left_sidebar.html">
                  Single Blog Left Sidebar
                </a>
              </li>
              <li class="waves-effect waves">
                <a href="single_blog-right_sidebar.html">
                  Single Blog Right Sidebar
                </a>
              </li>
            </ul>
          </li>
          <li class="smoth-scroll">
            <a data-hover="Contact US" href="contact.html">Contact US</a>
          </li>
        </ul>
      </nav>
      <!-- END MENU AREA -->

      <!-- Mobile Menu Start -->
      <nav class="mobile_menu hidden">
        <ul>
          <li>
            <a href="index.html">Home</a>
            <ul>
              <li>
                <a href="index.html">Home page 1</a>
              </li>
              <li>
                <a href="index-2.html">Home page 2</a>
              </li>
              <li>
                <a href="index-3.html">Home page 3</a>
              </li>
              <li>
                <a href="index-4.html">Home page 4</a>
              </li>
              <li>
                <a href="index-5.html">Home page 5</a>
              </li>
              <li>
                <a href="index-6.html">Home page 6</a>
              </li>
              <li>
                <a href="index-7.html">Home page 7</a>
              </li>
              <li>
                <a href="index-8.html">Home page 8</a>
              </li>
              <li>
                <a href="index-9.html">Home page 9</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="protfolio-1.html">Portfolio</a>
            <ul>
              <li>
                <a href="protfolio-1.html">Protfolio 1</a>
              </li>
              <li>
                <a href="protfolio-2.html">Protfolio 2</a>
              </li>
              <li>
                <a href="protfolio-3.html">Protfolio 3</a>
              </li>
              <li>
                <a href="case_study.html">Case Study</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="blog_grid.html">Blog</a>
            <ul>
              <li>
                <a href="blog_grid.html">Blog Grid</a>
              </li>
              <li>
                <a href="blog-left_sidebar.html">Blog Left Sidebar</a>
              </li>
              <li>
                <a href="blog-right_sidebar.html">Blog Right Sidebar</a>
              </li>
              <li>
                <a href="single_blog-full.html">Single Blog Full</a>
              </li>
              <li>
               <a href="single_blog-left_sidebar.html">
                Single Blog Left Sidebar
              </a>
            </li>
            <li>
              <a href="single_blog-right_sidebar.html">
                Single Blog Right Sidebar
              </a>
            </li>
          </ul>
        </li>
        <li>
          <a href="contact.html">Contact US</a>
        </li>
      </ul>
    </nav>
    <!-- Mobile Menu End -->
  </div>
</div>
</div>
</header>                         
<!-- ====HEADER END==== --> 